# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
dist
build
out
.next

# Coverage
coverage
.nyc_output

# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# Misc
.DS_Store
*.pem
dump.rdb
